<?xml version="1.0" encoding="UTF-8"?>
<phpunit stopOnFailure="false"
         colors="true" syntaxCheck="true" verbose="false"
         processIsolation="false" stderr="true">
    <testsuite name="My Store Tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <!--Indicate locations to check for test coverage-->
        <whitelist>
            <directory suffix=".php">src/app/code</directory>
        </whitelist>
    </filter>
</phpunit>
